.line {
   position: relative;
}

.line-mask {
   position: absolute;
   top: 3px;
   right: 0;
   background-color: black;
   opacity: 0.65;
   height: 100%;
   width: 100%;
   z-index: 2;
transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
transition: transform 2s;

}